docker:
  hisat2: quay.io/biocontainers/hisat2:2.1.0--py36h2d50403_1
  bowtie: biocontainers/bowtie:v1.1.2_cv4
  bowtie2: biocontainers/bowtie2:v2.3.4.3-1-deb_cv1
  bbmap: quay.io/biocontainers/bbmap:38.72--h516909a_0
  star: gcfntnu/star:2.7.2a
  quikmirseq: gcfntnu/quickmirseq:1.0
  tximport: gcfntnu/tximport:1.12.3
  cellranger: gcfntnu/cellranger:3.1.0
  salmon: gcfntnu/salmon:0.14
  mirge: gcfntnu/mirge:2.0
  unitas: gcfntnu/unitas:1.7.1
  sambamba: gcfntnu/sambamba:0.7
  salmon: gcfntnu/salmon:1.0.0