'Lexogen SENSE mRNA-Seq Library Prep Kit V2':
    name: 'Lexogen SENSE mRNA-Seq Library Prep Kit V2'
    strand: reverse
    single_end:
      adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
      trimmer: fastp
      fastp:
        params: '-f 10 -l 31'
      contaminant_filter: bowtie2
      bowtie2:
        params: '--end-to-end --sensitive'
    paired_end:
      adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
      adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT' 
      trimmer: fastp
      fastp:
        params: '-f 10 -F 7 -l 31'
      contaminant_filter: bowtie2
      bowtie2:
        params: '--end-to-end --sensitive'
'Lexogen SENSE Total RNA-Seq Library Prep Kit (w/RiboCop rRNA Depletion Kit V1.2)':
  name: 'Lexogen SENSE Total RNA-Seq Library Prep Kit (w/RiboCop rRNA Depletion Kit V1.2)'
  strand: reverse
  single_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
    trimmer: fastp
    fastp:
      params: '-f 10 -l 31 -t 1'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
  paired_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
    adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'      
    trimmer: fastp
    fastp:
      params: '-f 10 -F 7 -l 31'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
'Illumina TruSeq Stranded mRNA Library Prep':
  name: 'Illumina TruSeq Stranded mRNA Library Prep'
  strand: reverse
  single_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
    trimmer: fastp
    fastp:
      params: '-t 1'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
  paired_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
    adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'  
    trimmer: fastp
    fastp:
      params: '-t 1 -T 1 -l 31'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
      
'Illumina TruSeq Stranded Total RNA Library Prep (Globin)':
  name: 'Illumina TruSeq Stranded mRNA Library Prep'
  strand: reverse
  single_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
    trimmer: fastp
    fastp:
      params: '-t 1'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
  paired_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
    adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'  
    trimmer: fastp
    fastp:
      params: '-t 1 -T 1 -l 31'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
'default-rnaseq':
  name: 'default-rnaseq'
  strand: reverse
  single_end:
    adapter: ''
    trimmer: fastp
    fastp:
      params: '-A -Q'
  paired_end:
    adapter: ''
    adapter2: ''
    trimmer: fastp
    fastp:
      params: '-A -Q'
      
'Bioo Scientific NEXTflex Small RNA-Seq Kit v3':
  name: 'Bioo Scientific NEXTflex Small RNA-Seq Kit v3'
  strand: reverse
  adapter: 'TGGAATTCTCGGGTGCCAAGG'
  trimmer: mirtrace
  mirtrace:
    protocol: nextflex
'TruSeq Small RNA Library Prep Kit':
  name: 'TruSeq Small RNA Library Prep Kit'
  strand: reverse
  adapter: 'TGGAATTCTCGG'
  trimmer: mirtrace
  mirtrace:
    protocol: default

'default-smallrna':
  name: 'default-smallrna'
  strand: reverse
  adapter: 'TGGAATTCTCGGGTGCCAAGG'
  trimmer: mirtrace
  mirtrace:
    protocol: nextflex

'10X Genomics Chromium Single Cell 3p GEM Library & Gel Bead Kit v3':
  name: '10X Genomics Chromium Single Cell 3p GEM Library & Gel Bead Kit v3'
  adapter2: 
  cellranger:
    chemistry: SC3Pv3
    whitelist: 3M-february-2018.txt
  starsolo:
    whitelist: 3M-february-2018.txt
    cb_len: 16
    umi_len: 12
    umi_start: 17
  alevin:
    chemistry: chromiumV3
  umi_tools:
    chemistry: CCCCCCCCCCCCCCCCNNNNNNNNNNNN

'10X Genomics Chromium Single Cell 3p GEM Library & Gel Bead Kit v2':
  name: '10X Genomics Chromium Single Cell 3p GEM Library & Gel Bead Kit v2'
  adapter2: 
  cellranger:
    chemistry: SC3Pv2
    whitelist: 737K-august-2016.txt
  starsolo:
    whitelist: 737K-august-2016.txt
    cb_len: 16
    umi_len: 10
    umi_start: 17
  alevin:
    chemistry: chromium
  umi_tools:
    chemistry: CCCCCCCCCCCCCCCCNNNNNNNNNN

'default-singlecell':
  name: 'default-singlecell'
  adapter2: 
  cellranger:
    chemistry: SC3Pv3
    whitelist: 3M-february-2018.txt
  starsolo:
    whitelist: 3M-february-2018.txt
    cb_len: 16
    umi_len: 12
    umi_start: 17
  alevin:
    chemistry: chromiumV3
  umi_tools:
    chemistry: CCCCCCCCCCCCCCCCNNNNNNNNNNNN

'16S Metagenomic Sequencing Library Prep':
    strand: reverse
    single_end:
      adapter: 'CTGTCTCTTATACACATCT'
      trimmer: fastp
      fastp:
        params:
          '--low_complexity_filter  -l 150 '
    paired_end:
      adapter: 'CTGTCTCTTATACACATCT'
      adapter2: 'CTGTCTCTTATACACATCT' 
      trimmer: fastp
      fastp:
        params:
          '--low_complexity_filter  -l 150 --correction '

'QIAseq 16S/ITS Panel':
    strand: reverse
    single_end:
      adapter: 'CTGTCTCTTATACACATCT'
      trimmer: fastp
      fastp:
        params:
          '--low_complexity_filter  -l 150 '
    paired_end:
      adapter: 'CTGTCTCTTATACACATCT'
      adapter2: 'CTGTCTCTTATACACATCT' 
      trimmer: fastp
      fastp:
        params:
          '--low_complexity_filter  -l 150 --correction '
